Vera Remote Control.xcodeproj/xcuserdata/dmiller.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Vera Remote Control.xcodeproj/project.xcworkspace/xcuserdata/dmiller.xcuserdatad/WorkspaceSettings.xcsettings