<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scenes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Vera Remote Control WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Vera Remote Control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB4F67711B85446F0032C21F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB68509C1A6C6D1100CE4DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB6850B51A6C6D1100CE4DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB6DE51E1A75C6A300DBD7AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
